<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>Which of the following framework is not used in iOS ?</string>
		<key>options</key>
		<array>
			<string>UIKit Framework</string>
			<string>AppKit Framework</string>
			<string>Foundation Framework</string>
			<string>CoreMotion Framework</string>
		</array>
		<key>answer</key>
		<string>AppKit Framework</string>
	</dict>
	<dict>
		<key>question</key>
		<string>iOS stands for ?</string>
		<key>options</key>
		<array>
			<string>Internetwork Operating System</string>
			<string>iPhone Operating System</string>
			<string>Internet Operating System</string>
			<string>None of Them</string>
		</array>
		<key>answer</key>
		<string>iPhone Operating System</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following hierarchy is correct?</string>
		<key>options</key>
		<array>
			<string>UIButton-&gt;UIControl-&gt;UIView-&gt;NSObject-&gt;UIResponder</string>
			<string>UIControl-&gt;UIButton-&gt;UIView-&gt;UIResponder-&gt;NSObject</string>
			<string>UIButton-&gt;UIControl-&gt;UIView-&gt;UIResponder-&gt;NSObject</string>
			<string>None of the Above</string>
		</array>
		<key>answer</key>
		<string>UIButton-&gt;UIControl-&gt;UIView-&gt;UIResponder-&gt;NSObject</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following iOS frameworks is a commonly used third party Library?</string>
		<key>options</key>
		<array>
			<string>AVFoundation.framework</string>
			<string>AFNetwork.framework</string>
			<string>Audiotoolbox.framework</string>
			<string>CFNetwork.framework</string>
		</array>
		<key>answer</key>
		<string>AFNetwork.framework</string>
	</dict>
	<dict>
		<key>question</key>
		<string>The application has not been launched or was running but terminated by the device.Determine the current state of App.</string>
		<key>options</key>
		<array>
			<string>Suspended state</string>
			<string>Background state</string>
			<string>Inactive state</string>
			<string>Not running state</string>
		</array>
		<key>answer</key>
		<string>Not running state</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Flash Applications is  supported in iPhone browsers.Is it true?</string>
		<key>options</key>
		<array>
			<string>Yes</string>
			<string>No</string>
			<string>It supports flash applications from apple only.</string>
			<string>Supports partially</string>
		</array>
		<key>answer</key>
		<string>Yes</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Application running in foreground but currently not receiving any events.What is the current state of Application?</string>
		<key>options</key>
		<array>
			<string>Background state</string>
			<string>Inactive State</string>
			<string>Suspended state</string>
			<string>Active State</string>
		</array>
		<key>answer</key>
		<string>Inactive State</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following statement is wrong ?</string>
		<key>options</key>
		<array>
			<string>IBAction is a type qualifier used by IB to enable connection user experience elements and app code.</string>
			<string>IBAction resolves to void</string>
			<string>IBAction is a macro defined to denote a method that can be referred to in Interface Build.</string>
			<string>None of them</string>
		</array>
		<key>answer</key>
		<string>None of them</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Application is in background. Not executing any code.What is the current application state?</string>
		<key>options</key>
		<array>
			<string>Inactive state</string>
			<string>Active state</string>
			<string>Background state</string>
			<string>Suspended state</string>
		</array>
		<key>answer</key>
		<string>Suspended state</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following statement is wrong?</string>
		<key>options</key>
		<array>
			<string>IBOutlet are macro defined to denote a variable  that can be referred to in Interface Builder.</string>
			<string>IBOutlet resolves to Id</string>
			<string>IBOutlet resolves to nothing</string>
			<string>IBOutlet is a type qualifier used by Interface Builder as a connection point for sending messages from app code to a user interface element.</string>
		</array>
		<key>answer</key>
		<string>IBOutlet resolves to nothing</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Which of the following is a default UI property?</string>
		<key>options</key>
		<array>
			<string>assign</string>
			<string>non-atomic</string>
			<string>atomic</string>
			<string>None of them</string>
		</array>
		<key>answer</key>
		<string>atomic</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Multitasking in iOS was introduced in which version?</string>
		<key>options</key>
		<array>
			<string>iOS 2.0</string>
			<string>iOS 4.0</string>
			<string>iOS 6.0</string>
			<string>iOS 7.0</string>
		</array>
		<key>answer</key>
		<string>iOS 4.0</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Application is running in foreground and receiving events.What is the current App State?</string>
		<key>options</key>
		<array>
			<string>Inactive state</string>
			<string>Active state</string>
			<string>Background state</string>
			<string>Suspended state</string>
		</array>
		<key>answer</key>
		<string>Inactive state</string>
	</dict>
</array>
</plist>
